.global_container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    background: linear-gradient(180deg, #5828B1 9.32%, #342958 50.36%, #202030 96.63%);
}

.banner {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-shadow: inset -1px -50px 25px -4px rgba(0, 0, 0, 0.9);
    box-shadow: inset -1px -50px 25px -4px rgba(0, 0, 0, 0.9);
}

.banner img {
    object-fit: cover;
    min-height: 900px;
    max-width: 100%;
    position: relative;
    z-index: -2;
    filter: brightness(30%);
}

.card_container {
    z-index: 1;
    width: 900px;
    max-width: 90%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    color: #fff;
    border-radius: 15px;
    padding: 2em 2em 0em 2em;
    margin-bottom: 1em;
    position: relative;
    overflow: hidden;
    background-color: #000;
}

.first_info {
    width: 90%;
    min-height: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    z-index: 2;
}

.poster {
    width: 180px;
    height: 100%;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    border-radius: 15px;
}

.poster img {
    object-fit: contain;
    max-width: 100%;
}

.text_area {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.title_date {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.title_date h1 {
    padding: 0;
    margin: 0;
}

.title_date span {
    margin-left: .5em;
    font-size: 1.2em;
    color: #f5f5f5;
    font-weight: 600;
}

.stream_status {
    width: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.stream_status span {
    font-size: 1.1em;
    font-weight: 600;
    margin-right: 1em;
}

.stream_status .g_color {
    color: rgb(90, 252, 139);
}

.stream_status .r_color {
    color: rgb(255, 23, 23);
}

.rating {
    min-width: 100px;
    height: 100%;
    color: yellow;
}

.rating svg {

    font-size: 1.2em;
}

.Pri {
    color: #0499d5;
}

.Dis {
    color: #335ac7;
}

.Net {
    color: #e10915;
}

.text_area p {
    max-width: 100%;
    font-size: .9em
}

.second_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    z-index: 2;
}

.cast {
    z-index: 2;
}

.genres ul {
    padding: 0;
    display: flex;
    list-style: none;
}

.genres ul li {
    font-weight: 600;
    font-size: 1.1em;
    padding-right: 1em;
}

.genres ul li.border_left {
    padding-left: 1em;
    border-left: 3px solid #7a7a7a;
}

.cast {
    width: 100%;
}

.cast ul {
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
}

.cast ul li {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
    margin-right: 2em;
}

.cast ul li img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.episodes {
    width: 100%;
    min-height: 400px;
    z-index: 2;
}

.episodes ul {
    padding: 0;
    list-style: none;
}

.episodes ul li {
    padding: 1em 0;
    display: flex;
    align-items: center;
}

.episodes ul li img {
    border-radius: 10px;
    margin-right: 2em;
    border: 2px solid #fff;
    object-fit: cover;
    height: 160px;
    width: 220px;
}

.episodes .text {
    display: flex;
    flex-direction: column;
    min-height: 160px;
    min-width: 300px;
    justify-content: flex-start;
    position: relative;
}

.episodes .text h2 {
    font-weight: 700;
    font-size: 1.2em;
    margin: 0;
}

.episodes .text span {
    color: #7a7a7a;
    font-size: .9em;
    font-weight: 400;
}

.episodes .text p {
    margin: 0;
    margin-top: .5em;
    font-size: .9em;
    font-weight: 400;
    width: 95%;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #e10915;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #97191f;
  }

@media (max-width: 940px) {

    .card_container {
        padding-left: 1em;
        padding-right: 1em;
    }

    .first_info {
        width: 100%;
    }

    .second_info {
        width: 100%;
    }

    .cast ul {
        flex-wrap: wrap;
    }
}

@media (max-width: 780px) {

    .genres ul li {
        font-weight: 600;
        font-size: 1em;
        padding-right: 1em;
    }

    .genres ul li.border_left {
        padding-left: 1em;
        border-left: 3px solid #7a7a7a;
    }

    .poster {
        width: 150px;
        height: 100%;
    }

    .title_date h1 {
        font-size: 1.7em;
    }

    .title_date span {
        font-size: 1em;
    }

    .rating svg {

        font-size: 1em;
    }
}

@media (max-width: 700px) {

    .second_info {
        align-items: flex-start;
    }

    .genres {
        width: 80%;
    }
}

@media (max-width: 600px) {
    .first_info {
        width: 100%;
    }

    .poster {
        width: 150px;
        height: 100%;
        margin-right: 1em;
    }

    .title_date {
        flex-direction: column;
        align-items: flex-start;
    }

    .title_date h1 {
        font-size: 1.5em;
    }

    .title_date span {
        margin-left: 0;
        font-size: 1em;
    }

    .stream_status {
        width: 80%;
        flex-wrap: wrap;
        margin: .5em 0;
        justify-content: space-between;
    }

    .stream_status span {
        font-size: 1.1em;
        font-weight: 600;
        margin-right: 1em;
    }

    .cast {
        text-align: center;
    }

    .cast ul {
        width: 0;
        min-width: 400px;
        justify-content: space-around;
        gap: 1em;
        margin: auto;
    }

    .cast ul li {
        margin: 0;
    }
}

@media (max-width: 560px) {
    .first_info {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .text_area {
        margin: 1em 0;
        width: 100%;
        align-items: center;
    }

    .text_area p {
        text-align: center;
        max-width: 90%;
    }

    .title_date {
        align-items: center;
    }

    .stream_status {
        width: 80%;
    }

    .rating {
        display: flex;
        justify-content: center;
    }

    .second_info {
        flex-wrap: wrap;
        justify-content: center;
    }

    .genres {
        text-align: center;
    }

    .buttons {
        display: flex;
        justify-content: space-between;
    }

    .episodes ul li img {
        width: 150px;
        height: 130px;
        margin-right: .5em;
    }

    .episodes .text {
        min-height: 130px;
        height: 130px;
        overflow-y: scroll;
    }

    .episodes .text h2 {
        font-size: 1em;
        margin: 0;
    }

    .episodes .text span {
        font-size: .8em;
    }

    .episodes .text p {
        margin: 0;
        width: 100%;
        font-size: .8em;
    }
}

@media (max-width: 500px) {
    .stream_status {
        justify-content: space-around;
    }
}

@media (max-width: 450px) {
    .episodes ul li img {
        width: 120px;
        height: 100px;
        margin-right: .5em;
    }

    .episodes .text {
        min-height: 100px;
        height: 100px;
        overflow-y: scroll;
    }

    .episodes .text h2 {
        font-size: .9em;
        margin: 0;
    }

    .episodes .text span {
        font-size: .7em;
    }

    .episodes .text p {
        margin: 0;
        width: 90%;
        font-size: .8em;
    }
}

@media (max-width: 400px) {
    .buttons {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .cast {
        text-align: center;
    }

    .cast ul {
        width: 0;
        min-width: 300px;
        justify-content: space-around;
        gap: 1em;
        margin: auto;
    }

    .cast ul li {
        margin: 0;
    }

    .cast ul li img {
        height: 100px;
    }

    .episodes>h2 {
        text-align: center;
    }

    .episodes ul li img {
        width: 100px;
        height: 80px;
        margin-right: .5em;
    }

    .episodes .text {
        min-height: 80px;
        height: 80px;
        overflow-y: scroll;
        border-bottom: 1px solid #7a7a7a;
    }

    .episodes .text h2 {
        font-size: .9em;
        margin: 0;
    }

    .episodes .text span {
        font-size: .7em;
    }

    .episodes .text p {
        margin: 0;
        width: 85%;
        font-size: .6em;
    }
}