.container {
    width: 730px;
    max-width: 80%;
    min-height: 280px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: #000;
    border-radius: 15px;
    padding: 0 1em;
    margin-bottom: 1em;
}

.subcontainer {
    width: 100%;
    min-height: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.1em
}

